:root {
  /* colors */
  --color-white: #fff;
  --color-black: #232323;
  --color-gray: #565656;
  --color-dark-green: #2a4946;
  --color-yellow: #f9dc92;
}

* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  background-color: var(--color-black);
  color: var(--color-white);
  margin: 0;
  overflow: hidden;
  user-select: none;
}

button {
  background-color: transparent;
  color: var(--color-white);
  border: 0;
  outline: none;
  cursor: pointer;
}

ul,
li {
  padding: 0;
  margin: 0;
  list-style: none;
}

h1,
h2,
p {
  margin: 0;
}

input,
textarea {
  background-color: transparent;
  border: 0;
  outline: none;
}

img,
video {
  background-color: #fff;
}

#app {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  max-width: 44em;
}

/* Header */
#header {
  background-color: var(--color-dark-green);
  text-align: center;
  padding: 1.5em 0;
}

.title {
  color: var(--color-yellow);
  font-size: 2rem;
  margin-bottom: 0.5em;
}

.add {
  font-size: 1rem;
  text-transform: uppercase;
  padding: 0.5em 1em;
  margin-right: 0.8em;
  border: 1px solid var(--color-yellow);
  border-radius: 0.2em;
  transition: all 300ms ease;
}

.add:last-child {
  margin-right: 0;
}

.add:hover {
  background-color: var(--color-yellow);
  opacity: 0.8;
  color: var(--color-black);
}

/* Notes */
#notes {
  height: 100%;
  background-color: var(--color-gray);
  overflow-y: auto;
  overflow-x: hidden;
}

.list {
  position: relative;
  height: 100%;
  padding: 1.5em 0;
}

.item {
  width: 100%;
  height: 11em;
  position: relative;
  padding: 0 1.5em 1em 1.5em;
}

.item.shrink {
  height: 5em;
  transition: height 500ms ease;
}

.item.space {
  height: 16em;
  transition: height 500ms ease;
}

.container.move {
  position: absolute;
  z-index: 1;
  opacity: 0.8;
  transition: none;
}

.container {
  position: relative;
  display: flex;
  height: 10em;
  width: 100%;
  background-color: var(--color-dark-green);
  border-radius: 0.5em;
  box-shadow: 3px 3px 8px 2px rgba(0, 0, 0, 0.31);
  transition: transform 300ms ease;
}

.box {
  width: 100%;
  height: 100%;
  background-color: var(--color-black);
  border-radius: 1em;
  opacity: 0.2;
}

.item.tb .container {
  padding: 1em;
  flex-direction: column;
}

.item .container:hover {
  transform: scale(1.02);
}

.content {
  flex-basis: 50%;
}

.media {
  width: 100%;
  height: 100%;
}

.text,
.todo {
  padding: 1em;
}

.todo .text {
  padding: 0;
}

.delete {
  position: absolute;
  top: 50%;
  right: 1em;
  padding: 0.5em;
  transform: translateY(-50%);
  transition: all 200ms ease;
}

.delete:hover {
  opacity: 0.8;
  transform: translateY(-50%) scale(1.2);
}

/* Footer */
#footer {
  background-color: var(--color-dark-green);
  font-size: 0.8rem;
  text-align: center;
  padding: 0.8em;
}

/* Modal */
#modal {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 1rem;
  background-color: var(--color-dark-green);
  box-shadow: 3px 3px 8px 2px rgba(0, 0, 0, 0.31);
  transform: translate(-50%, -50%);
  padding: 1em;
}

.hidden {
  display: none;
}

.name {
  color: var(--color-yellow);
  font-size: 1.2em;
}

.input {
  width: 100%;
  font-size: 1em;
  color: var(--color-white);
  padding: 0.5em 0.8em;
  margin-top: 0.2em;
  margin-bottom: 0.8em;
  border-bottom: 1px solid var(--color-yellow);
}

textarea.input {
  min-height: 5em;
  border: 1px solid var(--color-yellow);
  resize: none;
}

#modal .add {
  float: right;
  font-size: 0.8em;
  margin-right: 0;
}

.exit {
  position: absolute;
  top: 0.5em;
  right: 0.5em;
  transition: all 200ms ease;
}

.exit:hover {
  opacity: 0.8;
  transform: scale(1.2);
}
